<div class="center">

  <div id="errormes"> <div class="x"><a (click)="close()" >X</a></div><div class="deardiary">Dear Diary</div><div class="errormessage1">PWA with JWT</div>
  <p class="teambody" style="text-decoration: underline;">AKSHAT JAIN </p>
  <p class="teambody">IIT BOMBAY</p>
  <p class="teambody">22B0690</p></div>

    <input class="c-checkbox" type="checkbox" id="start">
    <input class="c-checkbox" type="checkbox" id="progress2">
    <input class="c-checkbox" type="checkbox" id="progress3">
    <input class="c-checkbox" type="checkbox" id="finish">
    <div class="c-form__progress" id="progressbar"></div>
    <div id="appballoons" >
      <app-balloons></app-balloons>
    </div>
    <div class="someone" id ="someone">
      <a class="someone" routerLink="/note" >
        <span class="right"></span>
      </a>
    </div>
    <div class="error" id="errormess">Please enter the correct combination of User Id and Password.</div>
    <div class="c-formContainer">
      <div class="c-welcome" id="welcomemessage">Hello</div>
      <form class="c-form" >
        <div class="c-form__group">
          <label class="c-form__label" for="username">
                        <input
                            type="text" 
                            name="userid"
                            id="username"
                            class="c-form__input"
                            placeholder=" "
                            pattern="[^\s]+"
                            required [(ngModel)]="userData.userid">
    
                        <label class="c-form__next" for="progress2" role="button">
                            <span class="c-form__nextIcon"></span>
                        </label>
          <span class="c-form__groupLabel">Enter your UserID.</span>
          <b class="c-form__border"></b>
          </label>
        </div>
    
        <div class="c-form__group">
          <label class="c-form__label" for="fpass">
            <input
            type="password"
            name="pswd"
            id="fpass"
            class="c-form__input"
            placeholder=" "
            required [(ngModel)]="userData.pswd">
            <button (click)="login()" type="submit" class="c-form__next" for="finish" role="button"id="ab">
              <span class="c-form__nextIcon"></span>
            </button>
    
          <span class="c-form__groupLabel">Enter your password.</span>
          <b class="c-form__border"></b>
          </label>
        </div>
        
        <label class="c-form__toggle" for="start"  >Login<span class="c-form__toggleIcon"  id="c-form__toggleIcon"></span></label>
        
      </form>    <div  class="loginlink" id="linke" ><a routerLink="/register" id="disappear" class="linke">don't have a account yet? Create One</a></div>
    </div>
    </div>


    <div class="team"><div id = "left"><a (click)="team()"><h2 class="o">Our</h2><h2 class="t">Team</h2></a></div></div>