body {

  font-family: "Open Sans", sans-serif;
  margin: 0 !important;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #25a3ff;
  overflow: hidden;
}

.c-formContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 45%;
  margin-top: 23%;

}
.c-checkbox {
  display: none;
}

.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form__toggle {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.7);
}
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form {
  width: 382px;
}
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) {
  visibility: visible;
  opacity: 1;
}
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__border {
  width: 100%;
}
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border,
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
  color: #ff0033;
}
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__input:required:valid ~ .c-form__next {
  pointer-events: initial;
  color: #565656;
}

.c-checkbox:nth-of-type(2):checked ~ .c-form__progress {
  width: calc(100vw / 3);
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) {
  visibility: hidden;
  opacity: 0;
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__border {
  width: 0;
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) {
  visibility: visible;
  opacity: 1;
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__border {
  width: 100%;
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border,
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
  color: #ff0033;
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__input:required:valid ~ .c-form__next {
  pointer-events: initial;
  color: #565656;
}

.c-checkbox:nth-of-type(3):checked ~ .c-form__progress {
  width: calc((100vw / 3) + 100vw / 3);
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) {
  visibility: hidden;
  opacity: 0;
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__border {
  width: 0;
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) {
  visibility: visible;
  opacity: 1;
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__border {
  width: 100%;
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border,
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
  color: #ff0033;
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__input:required:valid ~ .c-form__next {
  pointer-events: initial;
  color: #565656;
}

#finish:checked ~ .c-form__progress {
  width: 100vw;
}
#finish:checked ~ .c-formContainer .c-form {
  transition: opacity 0.2s 0.1s, transform 0.3s;
  opacity: 0;
  transform: translateX(50%) scaleX(0);
}
#finish:checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) {
  transition: 0s;
  visibility: hidden;
  opacity: 0;
}
#finish:checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__border {
  width: 0;
}
#finish:checked ~ .c-formContainer .c-welcome {
  opacity: 1;
}

.c-formContainer {
  width: 180px;
  height: 65px;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.c-welcome {
  position: absolute;
  width: max-content;
  height: inherit;
  /* font-size: 40px; */
  font-size: 69px;
  color: black;
  font-family: "Josefin Slab", serif;
  text-shadow: 0.2px 0.2px 1.3px sienna;
  opacity: 0;
  transition: 0.3s;
}

.c-form {
  position: relative;
  width: inherit;
  height: inherit;
  background-color: #ffffff;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.c-form__toggle {
  width: inherit;
  height: inherit;
  font-size: 18px;
  color: #333333;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-form__toggleIcon {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  width: 15px;
  height: 17px;
}
.c-form__toggleIcon::before, .c-form__toggleIcon::after {
  content: "";
  position: absolute;
  background-color: #565656;
}
.c-form__toggleIcon::before {
  left: 50%;
  transform: translateX(-50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
}
.c-form__toggleIcon::after {
  bottom: 0;
  width: 100%;
  height: 7px;
  border-radius: 7px 7px 0 0;
}

.c-form__group {
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  padding: 12px 15px;
  box-sizing: border-box;
  transition: 0.2s 0.2s;
  position: absolute;
}

.c-form__label {
  position: relative;
  cursor: pointer;
  width: calc(100% - 40px);
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.c-form__input {
  font-size: 20px;
  font-family: inherit;
  width: 100%;
  height: 90%;
  border: 0;
  outline: 0;
  color: #333333;
  box-sizing: border-box;
  cursor: pointer;
}
.c-form__input:focus ~ .c-form__groupLabel, .c-form__input:not(:placeholder-shown) ~ .c-form__groupLabel {
  font-size: 10px;
  top: -4px;
  transform: translateY(0);
  color: #333333;
}
.c-form__input:focus ~ .c-form__border,
.c-form__input:focus ~ .c-form__next, .c-form__input:not(:placeholder-shown) ~ .c-form__border,
.c-form__input:not(:placeholder-shown) ~ .c-form__next {
  transition: 0.3s;
}
.c-form__input:focus {
  cursor: initial;
}

.c-form__groupLabel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
}

.c-form__border {
  position: absolute;
  width: 0;
  height: 3px;
  color: #25a3ff;
  background-color: currentColor;
  transition: 1s 0.2s ease-out;
}

.c-form__next {
  color: #25a3ff;
  position: absolute;
  right: -40px;
  height: 100%;
  width: 40px;
  cursor: pointer;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: white;
  border: 0;
  
}

.c-form__next#ab{
  margin-left: 222px;
  left: 96px;
}

.c-form__nextIcon {
  position: relative;
  right: 1.5px;
  width: 20px;
  height: 3px;
  background-color: currentColor;
}
.c-form__nextIcon::before, .c-form__nextIcon::after {
  content: "";
  position: absolute;
  right: -1.5px;
  width: 15px;
  height: 3px;
  background-color: inherit;
}
.c-form__nextIcon::before {
  bottom: -1.5px;
  transform-origin: top right;
  transform: rotate(45deg);
}
.c-form__nextIcon::after {
  top: -1.5px;
  transform-origin: bottom right;
  transform: rotate(-45deg);
}

.c-form__progress {
  position: fixed;
  left: 0;
  height: 100%;
  width: 0;
  /* background-color: #0069ec; */
  background: url("https://i.imgur.com/0kjMcUe.png");
  transition: 0.3s;
  opacity: 0.8;
  filter: brightness(0.95) sepia(30%) saturate(80%);
}




.linke {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  position: absolute;
  margin-top: 100px;
  left: -112px;
  width: 400px;
  text-align: center;
  height: 30px;
  padding-top: 10px;
  font-size: 18px;
  text-decoration: none;
  opacity: 0.8;
  
}

.linke:hover {
  background-color: #008CBA;
  color: white;
}


.right {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #000000;
  border-radius: 50%;
  margin-left: 1.5em;
}


.right:after {
  content: '';
  display: inline-block;
  margin-top: 1.05em;
  margin-left: -0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #584030;
  border-right: 0.5em solid #584030;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left:12px;
}


div.someone {
  display: inline-block;
  vertical-align: middle;
  visibility:hidden;
}

a.someone  {
  /* display: inline-block;
  border-radius: 50%;
   margin-left: 885px; */
  /* margin-top: -24px;
  padding-top: 359px;
  padding-left: 1000px; */

  display: inline-block;
  border-radius: 50%;
  margin-top: -14px;
  padding-top: 359px;
  padding-left: 1319px;
}

a.someone :hover  .right{
  border: 0.5em solid #e74c3c;
}

a.someone :hover  .right:after {
  border-top: 0.5em solid #e74c3c;
  border-right: 0.5em solid #e74c3c;
}

#appballoons{
  visibility: hidden;
}


.error{
  background: #F8D7DA;
  margin-top: -130px;
  width: 533px;
  margin-left: 515px;
  text-align: center;
  padding: 8px 0;
  border-radius: 5px;
  color: #8B3E46;
  border: 1px solid #F5C6CB;
  visibility: hidden;
}


#errormes{
  visibility: hidden;
  position: fixed;
  left: 0;
  height: 100%;
  width: 0;
  /* background-color: #0069ec; */
  background: url("https://i.imgur.com/0kjMcUe.png");
  transition: 0.3s;
  opacity: 0.8;
  filter: brightness(0.95) sepia(30%) saturate(80%);
  width: 100vw;
  
}

.errormessage1{
  font-size:100px;
  padding-left: 450px;
  margin-top: 60px;
}

#left {
  border-top-left-radius: 250px;
  background: lightgreen;
  background: url(https://i.imgur.com/0kjMcUe.png);
  padding: 50px;
  filter: brightness(0.95) sepia(30%) saturate(80%);
  /* border: 4px ridge; */
  width: 40px;
  /* filter: drop-shadow(5px 5px 25px black); */
  height: 40px;
  font-size: 25px;
  position: fixed;
  right: 0px;
  bottom: -424px;
  text-align: right;
}
.x{
  
  margin-left: 95%;
  margin-top: 2%;
  font-size: 40px;
  
}
#welcome{
  padding-left: 560px; 
  font-size: 30px; 
  visibility: hidden;
   position: fixed;
    padding-top: 400px;
}

.team{filter: drop-shadow(5px 5px 25px black);}
  .o{
    margin-left: 10px;
  }
  .t{
    margin-left: -20px;
    margin-top: -30px;
  }
  
  h2{
    text-align: right;
    margin-top: -15px;
  text-align: right;
  color: #8f6464;
  text-shadow: 0.2px 0.2px 1.3px sienna;
  }

  .teambody{
    
     font-size: 40px;
     text-align: center;
     line-height: 17px;
  }
  .deardiary{
    transform: rotate(-90deg);
    font-size: 130PX;
    POSITION: FIXED;
    LEFT: -90PX;
    TOP: 339PX;
    font-family: 'Sassy Frass', cursive;
  }