<div id="errormes"><div class="errormessage1"><a routerLink="/login" style="cursor: pointer;">Please Login</a></div><p style="padding-left: 600px; font-size: 40px;">You ain't logged in.</p></div>
<div id="teamdet"> <div class="x"><a (click)="close()" >X</a></div>
<div class="deardiary">Dear Diary</div>
<div class="errormessage1">PWA with JWT</div>
<p class="teambody" style="text-decoration: underline;">AKSHAT JAIN </p>
<p class="teambody">IIT BOMBAY</p>
<p class="teambody">22B0690</p>
</div>
<div id="appballoons" >
  <app-balloons></app-balloons>
</div>
<div class="container">
  <div class="side-nav" id="sidenav">
    <div class="headnav">
      <h1 align="center"><span>I</span>ndex</h1>
    </div>
    <div class="sidebar">
      <div class="page" *ngFor="let a of noteData">
        <div class="individual-page">
          <div class="styling">
          <a
            class="note-name"
            (click)="onNoteClicked(a.page)"
            >{{ a.page }}</a
          >
          <button
            style="margin-right: 10px"
            class="delete-button"
            routerLink="note"
            (click)="onNoteClicked(a.page)"
          >
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
          <button class="delete-button" (click)="deleteNote(a.page)">
            <i class="fa fa-trash-o"></i>
          </button></div>
          <hr width="100%" />
        </div>
      </div>
      
      
    </div>
    <div class="addnote">
      <button class="new-note" (click)="newNote(textForm.value)">
        ADD NOTE <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="login-panel">
      <img class = "user" src="https://freesvg.org/img/abstract-user-flat-4.png" height="70px" width="70px">
      <!-- <img class = "user" src="https://o.remove.bg/downloads/d168a75a-bd46-4fed-ab3b-035b1237aab7/download-removebg-preview.png" height="70px" width="70px"> -->
      <div class="vertical-line" ></div>
      <div class="paneldetails">
      <!-- <div class="panelname"><p>Akshat Jain</p></div> -->
      <div class="panel-userid" id="useridpanel">@akshat1423</div>
      <div class="logout"><a class="logoutButton"  (click)="logout()">Logout</a></div></div>
    </div>
  </div>
  
  <form #textForm="ngForm" (ngSubmit)="editorSaveData(textForm.value)">
    <div class="page">
      <input
        id="necessary-text"
        placeholder="Note Heading"
        type="text"
        name="page"
        required
        ngModel
      />
    </div>
    <div class="text-area" id="textbb">
      <textarea
        class="text-box1"
        placeholder="Share Something about today?"
        name="data"
        ngModel
        id="textbox12"
      ></textarea>
    </div>
    <div class="edit">
      <input
        class="sub"
        type="submit"
        id="subbutt"
        value="{{ editMode ? 'Edit' : 'Save' }}"
      />
      <input
        class="sub"
        type="button"
        id="deleteNote"
        value="Delete"
        (click)="deleteThisNote(currentTextId)"
      />
    </div>
  </form>


</div>
<div class="team"><div id = "left"><a (click)="team()"><h2 class="o">Our</h2><h2 class="t">Team</h2></a></div></div>