* {
  padding: 0px;
  margin: 0px;
}

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background: #ae9d72;
	background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
}

::-webkit-scrollbar-thumb {
	background: #ae9d72;
}

::-webkit-scrollbar-thumb:hover {
	background: #8bba98;
}

div.container {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
div.title {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

div.title div.individual-title {
  display: flex;
  flex-direction: row;
}

.sidebar{
  scroll-behavior: auto;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}

/* width */
.sidebar::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-left: 10px;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.new-note{
  margin-top: 3%;
  padding: 4px;
  font-size: 20px;
  cursor: pointer;
}
.addnote{
  margin-top: 3%;
  display: flex;
    justify-content: center;
}
/* .new-note{
  justify-content: center;
} */

.individual-title{
  padding-top: 3%;
}

.sub{
  font-size: 24px;
  width: 20%;
}

#deleteNote{
  margin-left: 10px;
}
span{
  font-family: 'Sassy Frass', cursive;
  font-size: 108px;
}
h1{
  font-size: 38px;
}

hr{
  margin-top: 9px;
  margin-bottom: 9px;
}

.styling{
display: flex;
}
.side-nav {
  margin-left: 4%;
  padding-left: 3%;
  background-color: grey;
  padding-right: 3%;
  margin-right: 4%;
  padding-top: 3%;
  border-radius: 7px;
  margin-top: 1%;
  width: 225px !important;
      filter: drop-shadow(5px 5px 25px black);
  }

  /* #myDiv {
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
} */
  
  

.delete-button{
  font-size:24px;
  padding:2%;
}
.text-area{
  filter: drop-shadow(5px 5px 25px black);
}


.text-box1{
    height: 400px !important;
    line-height: 2.8em;
    /* background: linear-gradient(to right, white 5px, transparent 5px), linear-gradient( white 0, white 96%, grey 96%, grey 100%); */
    background-size: 8px 100%, 100% 2.8em;
    background-repeat: repeat-x, repeat-y;
    background-position: 0 0, 0 -7px;
    /* border:solid  rgb(99, 19, 19) 14px;
    color: rgb(99, 19, 19); */
    min-width: 87%;
    text-shadow: 0.2px 0.2px 1.3px sienna;
    font-size: 16pt;
    font-weight: 400;
    line-height: 28pt;
    color: #565046;
    letter-spacing: 0.5px;
    word-spacing: 3px;
    height: 600px;
    margin-bottom: 40px;
    padding-left: 20px;
    /* border-radius: 3px; */
    position: relative;
    font-family: "Josefin Slab", serif;
	top: 10px;
	background: url("https://i.imgur.com/0kjMcUe.png");
	background-size: 1000px;
	background-position: center right;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 50%;
	height: auto;
	padding: 30px 80px 50px 80px;
	z-index: 1;
	filter: brightness(0.95) sepia(30%) saturate(80%);
	border-radius: 30px;
	height: 90vh;
	clip-path: polygon(
		0% 0%,
		0% 93%,
		5% 98%,
		6% 99%,
		8% 95%,
		12% 94%,
		15% 97%,
		17% 93%,
		20% 98%,
		22% 97%,
		25% 99%,
		31% 94%,
		35% 93%,
		39% 96%,
		43% 93%,
		45% 94%,
		47% 95%,
		50% 92%,
		52% 96%,
		54% 93%,
		58% 92%,
		60% 95%,
		62% 93%,
		65% 96%,
		69% 93%,
		72% 93%,
		75% 94%,
		79% 97%,
		81% 94%,
		85% 93%,
		88% 92%,
		90% 95%,
		93% 93%,
		95% 92%,
		97% 95%,
		100% 97%,
		100% 0%
	);
	overflow: auto;   
}

/* .text-box1:hover{
  background: linear-gradient(to right, white 5px, transparent 5px), linear-gradient( white 0, white 96%, #C74F32 96%, #C74F32 100%);
  background: linear-gradient(to right, white 5px, transparent 5px), linear-gradient( white 0, white 96%, var(--color-furniture) 96%, var(--color-furniture) 100%);

} */

.text-area{
  margin-top: 10px;
  
}

.headnav{
  color:white;
  margin-bottom: 20px;
}

.note-name:hover{
  color: #fff;
}

.note-name{     
  /* The title names of note */
  font-size: 24px;
  color: #f1f1f1;
  width: 80%;
  text-decoration:none;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}
.note-name:hover{
  color: #fff;
}

form{
    min-width: 1000px;

}
form input{
    height: 50px;
    cursor: pointer;

}

form input#necessary-text{
  height: 80px;
  font-family: "Josefin Slab", serif;
  padding-left: 75px !important;
  width: 95%;
  padding-left: 20px;  
  opacity: 0.7;
    margin-top: 20px;
    margin-bottom: -60px;
    border-radius: 13px;
    margin-bottom: 1px;
    /* padding: 40px; */
    font-size: 30pt;
    font-weight: 300;
    color: #35312b;
    text-shadow: 0.3px 0.3px 2px sienna;
    background: url("https://i.imgur.com/0kjMcUe.png");
    filter: brightness(0.95) sepia(30%) saturate(80%);
    filter: drop-shadow(5px 5px 25px black);
}


.vertical-line {
  border-left: 1px solid black;
  height: 100px; /* Change the height as needed */
}
.login-panel{
  display: flex;
  margin-top: 20px;
  margin-left: -25px;
}

.user{
  padding-top: 10px ;
  padding-right: 20px;
}

.paneldetails{
  padding-top: 20px;
  margin-left: 20px;
}

.panelname{
color: black ;
}

.panel-userid{
margin-top: 5px;
color: whitesmoke;
font-size: 21px;
}

.logout{
  padding-top: 4px;
  font-size: 21px;
}
.logout:hover{
  color:rgb(164, 36, 36);
  cursor: pointer;

}



.balloon {
  --balloonDimension: 5vmax; /* 15% of min(viewport width, height) */
  width: var(--balloonDimension);
  height: var(--balloonDimension);
  border-radius: 100% 100% 15% 100%;
  margin: 0 0 0 25px;
  transform: rotateZ(45deg);
  position: fixed;
  bottom: calc(-1 * var(--balloonDimension));
  left: 0;
  background-color: aqua;
}
.balloon::before {
  content: "";
  width: 10%;
  height: 25%;
  background: radial-gradient(circle, rgba(255,255,255,.7) 0%, rgba(255,255,255,.1) 100%);
  position: absolute;
  left: 15%;
  top: 45%;
  border-radius: 100%;
}
.balloon::after {
  content: "";
  width: 13%;
  height: 5%;
  background-color: inherit;
  position: absolute;
  left: 90%;
  top: 94%;
  border-radius: 22%;
  transform: rotateZ(-45deg);
}
.balloon .string {
  position: absolute;
  background-color: #990;
  width: 2px;
  height: calc(var(--balloonDimension) * .6);
  transform-origin: top center;
  transform: rotateZ(-45deg);
  top: calc(var(--balloonDimension) - 6px);
  left: calc(var(--balloonDimension) - 8px);
}
.yellow{
  background-color: rgba(150, 150, 0, .45);
}
.green{
  background-color: rgba(0, 150, 0, .45);
}
.blue{
  background-color: rgba(0, 0, 150, .45);
}
.red{
  background-color: rgba(150, 0, 0, .45);
}
#errormes{
  visibility: hidden;
  position: fixed;
  left: 0;
  height: 100%;
  width: 0;
  /* background-color: #0069ec; */
  background: url("https://i.imgur.com/0kjMcUe.png");
  transition: 0.3s;
  opacity: 0.8;
  filter: brightness(0.95) sepia(30%) saturate(80%);
  width: 100vw;
  margin-top: -27px;
}
#teamdet{
  visibility: hidden;
  position: fixed;
  left: 0;
  height: 100%;
  width: 0;
  /* background-color: #0069ec; */
  background: url("https://i.imgur.com/0kjMcUe.png");
  transition: 0.3s;
  opacity: 0.8;
  filter: brightness(0.95) sepia(30%) saturate(80%);
  width: 100vw;
  margin-top: -27px;
}

.errormessage1{
  font-size: 100px;
  padding-left: 450px;
  margin-top: 55px;
  line-height: 160px;}


#left {  
  border-top-left-radius: 250px;
  background: lightgreen;
  background: url(https://i.imgur.com/0kjMcUe.png);
  padding: 50px;
  filter: brightness(0.95) sepia(30%) saturate(80%);
  /* border: 4px ridge; */
  width: 40px;
  /* filter: drop-shadow(5px 5px 25px black); */
  height: 40px;
  font-size: 25px;
  position: fixed;
  right: 0px;
  bottom: -45px;
  text-align: right;
  }  .team{filter: drop-shadow(5px 5px 25px black);}
  .o{
    margin-left: 10px;
  }
  .t{
    margin-left: -20px;
    margin-top: -3px;
  }
  h2{
    text-align: right;
    margin-top: -15px;
  text-align: right;
  color: #8f6464;
  text-shadow: 0.2px 0.2px 1.3px sienna;
  }

  .teambody{
    
    font-size: 40px;
    text-align: center;
    line-height: 59px;
 }

 .x{
  
  margin-left: 95%;
  margin-top: 2%;
  font-size: 40px;
  
}

#appballoons{
  visibility: hidden;
}

.deardiary{
  transform: rotate(-90deg);
  font-size: 130PX;
  POSITION: FIXED;
  LEFT: -90PX;
  TOP: 339PX;
  font-family: 'Sassy Frass', cursive;
}